
.hero-section{
    background-image: url('../../../assets/two.jpg');
    background-size: cover;
    height: 400px;
    width: 100%;
    color: aqua;
    display: flex;
    justify-content: center ;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    text-align: center;
    height: 40px;
    font-size: 0.85rem;
    align-items: center;
    width: 86%;
    margin-bottom: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}
.hero-msg p{
    margin-top: 7px;
}

    /* box */
.shop-selection{
    display: flex;
    justify-content: space-evenly;
    background-color:  #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.box h5{
    font-weight: 700;
    color: black;
}
.shop-img{
    height:300px;
    width: 279px;
    background-size: no-repeat;
}
.box-content{
  margin-left: 16px;
}
.box-content .a a {
    text-decoration: none;
    color: #007185;
    display: block;
}
.a{
    margin-top: 20px;
}


  